<figure>
  <blockquote class="blockquote">
    <p>Diversidade nacional de raça/cor</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Censo de 2021 e 2022 do ENADE
  </figcaption>
</figure>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Brasil</th>
      <th>Norte</th>
      <th>Nordeste</th>
      <th>Centro-Oeste</th>
      <th>Sudeste</th>
      <th>Sul</th>
    </tr>
  </thead>

  <%= render partial: 'racial_diversity_table_row', locals: { title: "Pardas", racial_diversity_2021: @racial_diversity_2021, racial_diversity_2022: @racial_diversity_2022, key: "parda" } %>
  <%= render partial: 'racial_diversity_table_row', locals: { title: "Brancas", racial_diversity_2021: @racial_diversity_2021, racial_diversity_2022: @racial_diversity_2022, key: "branca" } %>
  <%= render partial: 'racial_diversity_table_row', locals: { title: "Pretas", racial_diversity_2021: @racial_diversity_2021, racial_diversity_2022: @racial_diversity_2022, key: "preta" } %>
  <%= render partial: 'racial_diversity_table_row', locals: { title: "Indígenas", racial_diversity_2021: @racial_diversity_2021, racial_diversity_2022: @racial_diversity_2022, key: "indigena" } %>
  <%= render partial: 'racial_diversity_table_row', locals: { title: "Amarelas", racial_diversity_2021: @racial_diversity_2021, racial_diversity_2022: @racial_diversity_2022, key: "amarela" } %>
  <%= render partial: 'racial_diversity_table_row', locals: { title: "Não declaradas", racial_diversity_2021: @racial_diversity_2021, racial_diversity_2022: @racial_diversity_2022, key: "nao_declarado" } %>

</table>
