<figure>
  <blockquote class="blockquote">
    <p>Diversidade nacional de raça/cor</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Censo de 2021 do ENADE
  </figcaption>
</figure>


<table class="table table-striped">
  <thead>
    <tr>
      <td></td>
      <td>Brasil</td>
      <td>Norte</td>
      <td>Nordeste</td>
      <td>Centro-Oeste</td>
      <td>Suldeste</td>
      <td>Sul</td>
    </tr>
  </thead>

  <tr>
    <td>Pardas</td>
    <td id="parda-brazil"><%= number_with_delimiter(@racial_diversity["parda"]) %></td>
    <td id="parda-regiao-norte"><%= number_with_delimiter(@racial_diversity_region_norte["parda"]) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Brancas</td>
    <td id="branca-brazil"><%= number_with_delimiter(@racial_diversity["branca"]) %></td>
    <td id="branca-regiao-norte"><%= number_with_delimiter(@racial_diversity_region_norte["branca"]) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Pretas</td>
    <td id="preta-brazil"><%= number_with_delimiter(@racial_diversity["preta"]) %></td>
    <td id="preta-regiao-norte"><%= number_with_delimiter(@racial_diversity_region_norte["preta"]) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Indígenas</td>
    <td id="indigena-brazil"><%= number_with_delimiter(@racial_diversity["indigena"]) %></td>
    <td id="indigena-regiao-norte"><%= number_with_delimiter(@racial_diversity_region_norte["indigena"]) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Amarelas</td>
    <td id="amarela-brazil"><%= number_with_delimiter(@racial_diversity["amarela"]) %></td>
    <td id="amarela-regiao-norte"><%= number_with_delimiter(@racial_diversity_region_norte["amarela"]) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Não declaradas</td>
    <td id="nao-declarado-brazil"><%= number_with_delimiter(@racial_diversity["nao_declarado"]) %></td>
    <td id="nao-declarado-regiao-norte"><%= number_with_delimiter(@racial_diversity_region_norte["nao_declarado"]) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

</table>
