<figure>
  <blockquote class="blockquote">
    <p>Diversidade nacional de raça/cor</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <%= "Censo de #{@year} do ENADE" %>
  </figcaption>
</figure>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Brasil</th>
      <th>Norte</th>
      <th>Nordeste</th>
      <th>Centro-Oeste</th>
      <th>Sudeste</th>
      <th>Sul</th>
    </tr>
  </thead>

  <%= render partial: 'racial_diversity_table_row', locals: { title: "Pardas", racial_diversity: @racial_diversity, key: "parda" } %>
  <%= render partial: 'racial_diversity_table_row', locals: { title: "Brancas", racial_diversity: @racial_diversity, key: "branca" } %>
  <%= render partial: 'racial_diversity_table_row', locals: { title: "Pretas", racial_diversity: @racial_diversity, key: "preta" } %>
  <%= render partial: 'racial_diversity_table_row', locals: { title: "Indígenas", racial_diversity: @racial_diversity, key: "indigena" } %>
  <%= render partial: 'racial_diversity_table_row', locals: { title: "Amarelas", racial_diversity: @racial_diversity, key: "amarela" } %>
  <%= render partial: 'racial_diversity_table_row', locals: { title: "Não declaradas", racial_diversity: @racial_diversity, key: "nao_declarado" } %>

</table>
