<p id="total-schools"><%= @total_schools %></p>

<div id="racial-diversity-totals">
  <p id="total-nao-declarado">Total de Não Declarados: <%= @racial_diversity_totals["nao_declarado"] %></p>
  <p id="total-branca">Total de Brancas: <%= @racial_diversity_totals["branca"] %></p>
  <p id="total-parda">Total de Pardas: <%= @racial_diversity_totals["parda"] %></p>
  <p id="total-preta">Total de Pretas: <%= @racial_diversity_totals["preta"] %></p>
  <p id="total-amarela">Total de Amarelas: <%= @racial_diversity_totals["amarela"] %></p>
  <p id="total-indigena">Total de Indígenas: <%= @racial_diversity_totals["indigena"] %></p>
</div>

<% @total_schools_by_region.each do |region, total| %>
  <p id="regiao-<%= region.downcase %>"><%= "Região #{region}: #{total}" %></p>
<% end %>

<% @racial_diversity_grouped_by_region.each do |region, racial_diversity| %>
  <div id="racial-diversity-totals-by-region-<%= region.downcase %>">
    <p id="region-<%= region.downcase %>-total-nao-declarado">Total de Não Declarados (Região <%= region %>): <%= racial_diversity["nao_declarado"] %></p>
    <p id="region-<%= region.downcase %>-total-branca">Total de Brancas (Região <%= region %>): <%= racial_diversity["branca"] %></p>
    <p id="region-<%= region.downcase %>-total-parda">Total de Pardas (Região <%= region %>): <%= racial_diversity["parda"] %></p>
    <p id="region-<%= region.downcase %>-total-preta">Total de Pretas (Região <%= region %>): <%= racial_diversity["preta"] %></p>
    <p id="region-<%= region.downcase %>-total-amarela">Total de Amarelas (Região <%= region %>): <%= racial_diversity["amarela"] %></p>
    <p id="region-<%= region.downcase %>-total-indigena">Total de Indígenas (Região <%= region %>): <%= racial_diversity["indigena"] %></p>
  </div>
<% end %>
